<div id="qmenu_menu" class="p_pop qmenu_menu_xiaomi {if !$_G['uid']}blk{/if}" style="display: none;">
	<!--{hook/global_qmenu_top}-->
	<!--{if $_G['uid']}-->
		<ul class="cl nav">
			<!--{loop $_G['setting']['mynavs'] $nav}-->
				<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
					<li>$nav[code]</li>
				<!--{/if}-->
			<!--{/loop}-->
		</ul>
	<!--{elseif $_G[connectguest]}-->
		<div class="ptm pbw hm" >
			{lang connect_fill_profile_to_visit}
		</div>
	<!--{else}-->
		<div class="ptm pbw hm" >
			请
<a class="xi2 " onclick="lsSubmit()" href="member.php?mod=logging&action=login">
<strong>登录</strong>
</a>
后使用快捷导航
<br>
没有帐号？
<a class="xi2 xw1" href="member.php?mod=register">立即注册</a>
</div>
		</div>
	<!--{/if}-->
	<!--{hook/global_qmenu_bottom}-->
</div>
<style>#qmenu_menu li{ width:auto;}#qmenu_menu.qmenu_menu_xiaomi ul.nav a{ display:block; color: #656D78;padding-top:42px; line-height:18px;} #qmenu_menu ul.nav li{ height:58px; margin-bottom:8px; margin-right:20px; } #qmenu_menu ul{ margin-right:-20px;}</style>
