<div id="um">
<!--{if $_G['uid']}-->
        <div class="xm_avt" href="home.php?mod=space&uid=$_G[uid]&do=profile&from=space">
            <a class="xm_ur" href="home.php?mod=space&uid=$_G[uid]&do=profile&from=space">
                <!---->{$_G[username]}</a>
				
       
</div>
      
        
        <div class="xm_um_ex_info">
            <ul class="base_info">
                
                
				
            </ul>
            <div class="action">
                <ul>
            
                   
					<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
												
											<!--{/if}-->
											<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
												<li><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a></li>
											<!--{/if}-->
											<!--{if $_G['uid'] && $_G['adminid'] == 1 && $_G['setting']['cloud_status']}-->
												<li><a href="admin.php?frames=yes&action=cloud&operation=applist" target="_blank">{lang cloudcp}</a></li>
											<!--{/if}-->
											<!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
												<li><a href="admin.php" target="_blank">{lang admincp}</a></li>
												<!--{/if}-->

                                        <!--<script language="javascript">delayShow($('myprompt'), function() {showMenu({'ctrlid':'myprompt','pos':'43','duration':3})});</script>-->
                    <script language="javascript">showMenu({'ctrlid':'pm_ntc','pos':'34','duration':3,'layer':15});</script>
                    
                    
                    
                    
                    
                    
                                        <li><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">退出</a></li>
                </ul>
            </div>

        </div>

        
    </div>

					<!--{elseif !empty($_G['cookie']['loginuser'])}-->



					<p>



						<strong><a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>



						<span class="pipe">|</span><a href="member.php?mod=logging&action=login" onClick="showWindow('login', this.href)">{lang activation}</a>



						<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>



					</p>



					<!--{elseif !$_G[connectguest]}-->
						<div id="um">
							<p class="login">
							<a href="member.php?mod=logging&action=login">登录</a>
							<span class="pipe">|</span>
							<a href="member.php?mod=register">注册</a>
							
							</p>
						</div>
					<!--{else}-->
					<div id="um">

						<p>
							<strong class="vwmy qq">{$_G[member][username]}</strong>
							
							<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>

                        </p>
						
					</div>



					<!--{/if}-->
