<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<link href="./template/kym_xiaomi/style/css/cn_index_v2.css" rel="stylesheet" type="text/css" />
<link href="./template/kym_xiaomi/style/css/xiaomi_default_v2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./template/kym_xiaomi/style/js/comm.js"></script>

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

 <!-- main start --> 
<div class="main">
<div class="banner box"></div><!--幻灯片--> 
<!--[diy=diyxiaoyu]--><div id="diyxiaoyu" class="area"></div><!--[/diy]-->   

<!--左侧新闻-->
         
<div class="left box">
<!--[diy=diytopLine]--><div id="diytopLine" class="area"></div><!--[/diy]-->




        

<!--{template common/footer}-->

